<p></p>
<body bgcolor="blue">
    <p>APP DETAILS</p>
  </body>
  


<p appHighlighter></p>
<h1  appHighlighter>this application is meant for managing  all the attendance sheet of the organisation</h1>
<h2 appHighlighter></h2>
<p style="text-align: left"><a href=""></a>
</p>

<!-- <p style="text-align: right"><a href="signIn">
    <a href="SignIn">SignIn</a>/
    <a href="Not Yet">NotYet</a>
   
</a>
</p> -->
<html>

<div class="dropdown">
    <button class="dropbtn">Want mOre</button>
    <div class="dropdown-content">
      <a href="HOME"></a>
      <a href="#">About</a>
      <a href="#">contact</a>
    </div>
  </div>

  <!-- <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> -->

</html>
